<div class="container content">
    <div class="row dialogContainer">
        <div class="">
            <div class="card">
                <div class="card-header">Billy</div>
                <div class="card-body height3" #chatMessages>
                    <ul class="chat-list" id="messageDisplay">
                        <li *ngFor="let message of userMessages" [ngClass]="message.type === 'You'? 'out':'in'">
                            <div class="chat-img">
                                <img alt="Avtar"
                                    [src]="message.type === 'You'? '.././assets/mikeWazowski_head.jpg':'.././assets/harold_2.jpg'">
                            </div>
                            <div class="chat-body">
                                <div class="chat-message">
                                    <h5>{{ message.type }}</h5>
                                    <p>{{ message.message}}</p>
                                </div>
                                <button *ngIf="message.type != 'You'" class="btn btn-alert"
                                    (click)="throwAlert()">Correct</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Taper la commande" aria-label="commande"
                    aria-describedby="basic-addon2" [formControl]="messageSend">
                <div class="input-group-append">
                    <button class="btn btn-imageStyle" [disabled]="!messageSend.valid" type="submit" (submit)="send()"
                        (click)="send()">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</div>